.main {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-basis: 580px;
  flex-shrink: 1;
  gap: 20px;
}

.form__input {
  flex: 0 1 25%;
  height: 50px;
  text-indent: 5px;
  font-size: 18px;
  border-radius: 10px;
  border: 1px solid #d5d4d8;
}

.form__button {
  flex: 0 1 50%;
  height: 50px;
  color: #ffffff;
  font-size: 18px;
  border-radius: 15px;
  background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
  transition: all 0.2s ease-in-out;
}

.form__button:active {
  transform: translateY(4px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.section__meme {
  width: 50%;
  margin-top: 20px;
}
